# Data Tanishuv

In [ ]:
#df=pd.read_csv('house_prices_dataset reg.csv')

NameError: name 'pd' is not defined

In [ ]:
#import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
#print(pd.__version__)

NameError: name 'pd' is not defined

In [1]:
import pandas as pd

In [ ]:
#df=pd.read_csv('C:\Users\hamid\Desktop\AI vazifalar\house_prices_dataset reg.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (173749604.py, line 1)

In [3]:
df = pd.read_csv(r'C:\Users\hamid\Desktop\AI vazifalar\house_prices_dataset reg.csv')

In [5]:
df.head(20)

    square_feet  num_rooms  age  distance_to_city(km)          price
0   2248.357077          3   92             22.997972  200374.090410
1   1930.867849          2   22             13.984254  268784.847337
2   2323.844269          6   33             21.500945  315020.857676
3   2761.514928          3   63             10.343638  355111.468459
4   1882.923313          7   54             25.485200  234197.123903
5   1882.931522          2   70             16.510014  171397.001685
6   2789.606408          6    8             28.364627  438704.163041
7   2383.717365          5    3              3.285625  438745.704315
8   1765.262807          7   65             15.914028  243125.068444
9   2271.280022          3   90             23.227202  171466.048061
10  1768.291154          5   32             18.404427  266274.439215
11  1767.135123          4   31              1.672630  288522.028041
12  2120.981136          7   43             29.197822  282429.801192
13  1043.359878          7   36              9.649647  198661.919569
14  1137.541084          6   90              8.229058  134152.017207
15  1718.856235          6   91             15.084136  223511.745350
16  1493.584440          3   66             16.722585  121809.843049
17  2157.123666          7   59             23.222356  296965.282779
18  1545.987962          6   58             12.404936  241859.172792
19  1293.848149          4   35             13.758851  181208.272713

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('healthcare_dataset.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB

In [8]:
df = pd.read_csv('Employers_data reg.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Employee_ID       10000 non-null  int64
 1   Name              10000 non-null  object
 2   Age               10000 non-null  int64
 3   Gender            10000 non-null  object
 4   Department        10000 non-null  object
 5   Job_Title         10000 non-null  object
 6   Experience_Years  10000 non-null  int64
 7   Education_Level   10000 non-null  object
 8   Location          10000 non-null  object
 9   Salary            10000 non-null  int64
dtypes: int64(4), object(6)
memory usage: 781.4+ KB

In [10]:
df.shape

(10000, 10)

In [11]:
df.dtypes

Employee_ID          int64
Name                object
Age                  int64
Gender              object
Department          object
Job_Title           object
Experience_Years     int64
Education_Level     object
Location            object
Salary               int64
dtype: object

In [12]:
df.dtypes

Employee_ID          int64
Name                object
Age                  int64
Gender              object
Department          object
Job_Title           object
Experience_Years     int64
Education_Level     object
Location            object
Salary               int64
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Employee_ID       10000 non-null  int64
 1   Name              10000 non-null  object
 2   Age               10000 non-null  int64
 3   Gender            10000 non-null  object
 4   Department        10000 non-null  object
 5   Job_Title         10000 non-null  object
 6   Experience_Years  10000 non-null  int64
 7   Education_Level   10000 non-null  object
 8   Location          10000 non-null  object
 9   Salary            10000 non-null  int64
dtypes: int64(4), object(6)
memory usage: 781.4+ KB

In [14]:
df.columns

Index(['Employee_ID', 'Name', 'Age', 'Gender', 'Department', 'Job_Title',
       'Experience_Years', 'Education_Level', 'Location', 'Salary'],
      dtype='object')

In [ ]:
#df['col'].nunique()

KeyError: 'col'

In [ ]:
#df['col'].nunique()

KeyError: 'col'

In [ ]:
#df['col'].min()

KeyError: 'col'

In [18]:
print(df.columns)

Index(['Employee_ID', 'Name', 'Age', 'Gender', 'Department', 'Job_Title',
       'Experience_Years', 'Education_Level', 'Location', 'Salary'],
      dtype='object')

In [20]:
df['Age'].min()

np.int64(21)